h1{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

body{
    background-image: url("img/imagen_3.jpeg");
    background-size: cover;
    background-position: center;
}

.container img {
    display: block;
    margin: auto;
    width: 1200px;
    height: auto;
}

h2{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
}

h3{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

h4{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}

q{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
}