h1.head{
    text-align: center;
    font-size: 40px;
    position: relative;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

p.head{
    text-align: center;
    font-size: 25px;
    position:relative;
    font-weight: bold;
}

img.head{
    width: 200px;
    height: 190px;
    position: absolute;
    top: 10px;
    right:auto;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

img.semestre_2 {
    width: 50%;
    float: right;
    padding-left: 20px;
    position: absolute;
    top: auto;
    height: 280px;
}

p.semestre_2 {
    width: 50%;
    float: left;
    padding-right: 20px;
    font-size: 20px;
    text-align: justify;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    clear: both;
}

p{
    font-size: 20px;
    text-align: justify;
}